html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
}

a,
a:visited {
  color: #333;
}

header {
  padding: 3px 8px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  flex: 0 0 auto;
}

h1,
h2 {
  display: inline;
  margin: 0;
  font-size: 20px;
}

h1 a,
h2 a {
  text-decoration: none;
  color: inherit;
}

h3 {
  clear: both;
}

#content {
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 0px 10px;
  max-width: 1100px;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding: 8px 8px;
  font-size: 0.7em;
  background-color: #fafafa;
}

footer,
footer a,
footer a:visited {
  color: #666;
}

input {
  font-size: 1.2em;
}

p.footnote {
  font-size: 0.9em;
  color: #444;
}

.table-wrapper {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.table-wrapper p.footnote {
  font-size: 0.7em;
  margin-top: 5px;
  color: #666;
}

table {
  font-size: 0.9em;
  margin-top: 8px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #eee;
  min-width: 500px;
}

.table-full-width {
  width: 100%;
}

caption {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 3px;
  width: 100%;
}

thead {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tfoot tr {
  background-color: #eee;
  font-weight: bold;
}

th,
td {
  padding: 4px;
}

figure {
  margin: 5px;
  background-color: #eee;
  border: 1px #999 solid;
}

figcaption {
  font-size: 0.7em;
  padding: 2px 5px;
}

figcaption a,
figcaption a:visited {
  color: #666;
}

figure.plant_image {
  float: right;
}

/* Responsive tables on small screens */

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table.responsive,
  table.responsive thead,
  table.responsive tbody,
  table.responsive th,
  table.responsive td,
  table.responsive tr,
  table.responsive caption {
    display: block;
    clear: both;
  }

  table.responsive tr {
    padding-bottom: 1em;
  }

  table.responsive td.row-name {
    text-align: center;
    font-weight: bold;
  }

  table.responsive td.row-subhead {
    text-align: center;
  }

  table.responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.responsive td {
    clear: both;
  }

  table.responsive td:empty {
    display: none;
  }

  table.responsive td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    padding-right: 10px;
  }

  figure {
    float: none !important;
    display: inline-block;
    margin: auto;
  }
}
