<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}Open Infrastructure Map</title>
  <link rel="stylesheet" href="/static/main.css?1">
{%- if self.description() %}
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta property="og:description" content="{{self.description()}}">
{%- endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@openinframap">
  <meta name="twitter:creator" content="@russss">
  <meta property="og:title" content="Open Infrastructure Map">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
{%- if canonical %}
  <link rel="canonical" href="{{canonical}}">
{%- endif %}
</head>
<body>
  <header>
    <h1><a href="{{url_for('main')}}">OpenInfraMap</a></h1>
    {%- if breadcrumbs -%}
      <h2>
      {%- for name, url in breadcrumbs -%}
        &nbsp;&rang;&nbsp;
        {%- if url -%}
          <a href="{{url}}">{{name}}</a>
        {%- else -%}
          {{name}}
        {%- endif -%}
      {%- endfor -%}
      </h2>
    {%- endif %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p class="copyright">
    Data <a href="https://www.openstreetmap.org/copyright">&copy; OpenStreetMap contributors, ODbL</a>.
    International regions <a href="https://www.marineregions.org/disclaimer.php">&copy; MarineRegions.org, CC-BY</a>.
    Analysis <a href="{{url_for('copyright')}}">&copy; Open Infrastructure Map, CC-BY</a>.
    Purchase data exports at <a target="_blank" href="https://www.infrageomatics.com/products/osm-export">Infrageomatics</a>.
    </p>
  </footer>
</body>
</html>
