{% extends "_base.html" %}
{% block title %}{{country}} Power Plants{% endblock %}
{% block content -%}

{% if plants|length == 0 %}
  <p>There are currently no power plants mapped in {{country}} on OpenStreetMap.</p>
{% else %}
  <p>All {{plants|length}} power plants in {{country}}.</p>
  <table class="plants-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Output</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
    {% for plant in plants %}
      <tr>
        <td><a href="{{osm_link(plant.osm_id, plant.geom_type)}}" target="_blank">
            {{plant.name or '[unnamed]'}}</a></td>
        <td>{{plant.output|power}}</td>
        <td>{{plant.source}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
