{% extends "_base.html" %}
{% set breadcrumbs = [('Stats', url_for('stats')), (country, url_for('country', country=country)), ("Power Plants", None)] %}
{% if source == '' %}
  {% set pretty_source = 'unspecified' %}
{% elif source %}
  {% set pretty_source = source|replace("_"," ") %}
{% endif %}
{% block title %}{{country}}{% if pretty_source %} {{pretty_source|title}}{% endif %} Power Plants{% endblock %}
{% block description -%}
  List of{% if pretty_source%} {{pretty_source}}{% endif %} power plants in {{country|country_name}} from OpenStreetMap
{%- endblock %}
{% block content -%}

{% set english_name = false %}
{% if country not in ('United Kingdom', 'United States', 'Canada', 'Australia', 'New Zealand', 'Ireland', 'Alaska', 'Hawaii') %}
  {% set english_name = true %}
{% endif %}

{% if plants|length == 0 %}
  <p>There are currently no power plants mapped in {{country|country_name}} on OpenStreetMap.</p>
{% else %}
  <table class="plants-table">
    <caption>All {{plants|length}} {% if pretty_source %}{{pretty_source}} {% endif %}power plants in {{country|country_name}}</caption>
    <thead>
      <tr>
        <th>Name</th>
        {% if english_name %}
        <th>English Name</th>
        {% endif %}
        <th style="width: 100px">Output</th>
        <th style="width: 150px">Source</th>
        <th style="width: 100px">Wikidata</th>
      </tr>
    </thead>
    <tbody>
    {% for plant in plants %}
      <tr>
        <td><a href="{{osm_link(plant.osm_id, plant.geom_type)}}" target="_blank">
            {{plant.name or '[unnamed]'}}</a></td>
        {% if english_name %}
          <td>{{plant.name_en or  ''}}</td>
        {% endif %}
        <td>{{plant.output|power}}</td>
        <td>{{plant.source}}</td>
        <td>
            {% if plant.wikidata %}
              <a href="https://www.wikidata.org/wiki/{{plant.wikidata}}" target="_blank">{{plant.wikidata}}</a>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if pretty_source %}
    <p><a href="{{url_for('plants_country', country=country)}}">View all power plants in {{country|country_name}}</a>.</p>
  {% endif %}
{% endif %}
{% endblock %}
