{% extends "_base.html" %}
{% block title %}About{% endblock %}
{% set breadcrumbs = [('About', None)] %}
{% block content -%}
      <p class="lead"><a href="/">Open Infrastructure Map</a> is a view of the world's infrastructure mapped in the
      <a href="http://www.openstreetmap.org/">OpenStreetMap database</a>.</p>
      <p>This data isn't exposed on the default OSM map, so I built
        Open Infrastructure Map to visualise it.</p>

      <h3>How do I contribute?</h3>
      <p>If you want to edit the data and you're new to OpenStreetMap, check out
      <a href="https://learnosm.org">learnOSM.</a></p>
      <p>
          If you already have some OSM experience and want to start tagging infrastructure things,
          take a look at the tagging guidelines for
          <a href="http://wiki.openstreetmap.org/wiki/Power">power</a> and <a href="http://wiki.openstreetmap.org/wiki/Telecoms">telecoms</a>.
      </p>

      <h3>How do I access the data?</h3>
      <p>All the data currently displayed on Open Infrastructure Map is sourced directly from OpenStreetMap.</p>

      <p>If you need relatively small extracts of data, you can use
        <a href="https://overpass-turbo.eu/">Overpass Turbo</a> to generate these in GeoJSON and
        similar formats.</p>

      <p>For larger amounts of data, you will need to fetch and process the raw OSM data directly,
      which is relatively complex. Commercial exports in GIS formats such as Shapefile and GeoPackage
      are available from <a href="https://www.infrageomatics.com/products">Infrageomatics</a>, which supports the work of
      Open Infrastructure Map.
      </p>

      <h3>How is Open Infrastructure Map made?</h3>
      <p>The following mess of tools and services make Open Infrastructure Map run:</p>
      <ul>
        <li><a href="https://www.postgresql.org/">Postgres</a>/<a href="http://postgis.net/">PostGIS</a> for data storage
        <li><a href="https://imposm.org/">Imposm3</a> for filtering and importing the OSM data
        <li><a href="http://tegola.io/">Tegola</a> for vector tile rendering and serving
        <li>The <a href="https://github.com/MapLibre/maplibre-gl-js">MapLibre GL JS</a> web interface
      </ul>

      <p>The background map data is generated thanks to tools and support from <a href="https://protomaps.com/">Protomaps</a>.
        Search is kindly provided by <a href="https://opencagedata.com/">OpenCage</a>.
      </p>

      <h3>Where's the code?</h3>
      <p>You can find the code which runs OpenInfraMap <a href="https://github.com/openinframap/openinframap">on GitHub</a>.</p>

      <h3>Who made this?</h3>
      <p>I'm <a href="https://russ.garrett.co.uk">Russ</a>, and I like infrastructure.
         Please don't contact me about copyright claims or similar, these should properly
         be directed <a href="https://wiki.osmfoundation.org/wiki/Takedown_procedure">to
	 OpenStreetMap</a>.</p>

      <h3>Get in touch</h3>
      <p>If you want to get in touch with the OSM infrastructure mapping community, join
      <a href="irc://irc.oftc.net/osm-infrastructure">#osm-infrastructure</a> on the OFTC IRC network or
      <a href="https://matrix.to/#/#osm-infrastructure:matrix.org">#osm-infrastructure:matrix.org</a> on Matrix.

      Join this channel with IRCCloud:
      <a href="https://www.irccloud.com/invite?channel=%23osm-infrastructure&amp;hostname=irc.oftc.net&amp;port=6697&amp;ssl=1" target="_blank"><img src="https://www.irccloud.com/invite-svg?channel=%23osm-infrastructure&amp;hostname=irc.oftc.net&amp;port=6697&amp;ssl=1"  height="18"></a>.</p>

      <p>You can also follow Open Infrastructure Map on <a href="https://en.osm.town/@OpenInfraMap">Mastodon</a> or
      <a href="https://bsky.app/profile/openinframap.org">Bluesky</a> for occasional status updates.</p>
	</p>

{% endblock %}
