{% extends "_base.html" %}
{% block title %}OpenStreetMap Data Exports{% endblock %}
{% set breadcrumbs = [('Exports', None)] %}
{% block content -%}
    <p>We can provide exports of worldwide power and telecoms infrastructure from OpenStreetMap.</p>
    <p>Our standard export provides the following information:</p>

    <ul>
      <li>Power plants as polygons</li>
      <li>Substations as points and polygons</li>
      <li>Power lines</li>
      <li>Telecommunication lines</li>
      <li>Telecommunication buildings/datacenters</li>
    </ul>

    <p>Custom exports with additional data are available at additional cost.</p>

    <p>We can only provide exports of data which is visible on OpenInfraMap. If you require
      exports of other OpenStreetMap data, you may wish to consider the
      <a href="https://www.geofabrik.de/data/shapefiles.html">Geofabrik export service</a>.</p>

    <h3>Formats</h3>

    <p>Exports can be provided in many standard geospatial vector formats, such as GeoJSON, Shapefile, etc.</p>

    <p>Exports of power network data in KML (Google Earth) format, with styling and interactivity, are available
        at an additional cost. Please note that these tend to be unusuably slow for areas larger than a single country.</p>

    <h3>Pricing</h3>
      <table>
        <thead>
          <caption>OpenInfraMap Export Prices</caption>
        </thead>
        <tbody>
          <tr></th><th>Area</th><th>Price</th></tr>
          <tr><td>1-3 countries</td><td>£200</td></tr>
          <tr><td>Worldwide</td><td>£600</td></tr>
        </tbody>
      </table>

      <p>Payment is required in advance of delivery by card or GBP bank transfer.</p>
      <p>A discount is available for non-profit or academic research projects.</p>

      <h3>License</h3>
      <p>This data is licensed under the
          <a href="https://www.openstreetmap.org/copyright">OpenStreetMap licensing terms</a>, which
          require that you attribute OpenStreetMap in any derived data. Attribution of "OpenInfraMap",
          and a link to this website, would be appreciated but is not required.
      </p>

      <h3>Ordering</h3>
      <p>To order an export, please <a href="mailto:russ@zaryaconsulting.com">drop us an email</a>.</p>
      <p>Exports are provided by Zarya Ltd, a UK consultancy which supports the development of OpenInfraMap.</p>

{% endblock %}
