@import 'maplibre-gl/dist/maplibre-gl.css';

html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

body,
#container,
#map {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#container {
  display: block !important;
  background-color: #223;
}

header {
  z-index: 2;
  padding: 4px;
  border-radius: 0px 0px 15px 0px;
  border-right: 1px #eee solid;
  border-bottom: 1px #eee solid;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  font-size: 13px;
}

header {
  backdrop-filter: blur(3px) saturate(80%);
}

nav ul {
  font-size: 1.1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li + li::before {
  content: '|';
  color: #666;
  margin-right: 5px;
}

h1 {
  display: inline;
  margin: 0px;
  font-size: 18px;
}

a {
  color: #333;
}

a:hover {
  color: #000;
}

.maplibregl-popup-content {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

canvas:focus {
  /* Remove unnecessary focus border */
  outline: none;
}
