@import 'maplibre-gl/dist/maplibre-gl.css';

:root {
  --aa-search-input-height: 33px !important;
  --aa-input-icon-size: 20px !important;
  --aa-primary-color-rgb: 100, 100, 100 !important;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

body,
#container,
#map {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#container {
  display: block !important;
  background-color: #223;
}

header {
  z-index: 2;
  padding: 0.25rem 0 0.5rem 0.5rem;
  border-radius: 0px 0px 15px 0px;
  background-color: rgba(250, 250, 250, 0.8);
  top: 0px;
  left: 0px;
  width: 15rem;
  position: absolute;
  display: block;
  font-size: 13px;
  backdrop-filter: blur(3px) saturate(80%);
}

nav ul {
  font-size: 1.1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li + li::before {
  content: '|';
  color: #666;
  margin-right: 5px;
}

h1 {
  display: inline;
  margin: 0px;
  font-size: 18px;
}

.maplibregl-ctrl-top-left {
  /* Move control container down to avoid header */
  top: 60px;
}

.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 0.5rem 0 0 0.5rem;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 0.5rem 0.5rem 0 0;
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  background-color: rgba(250, 250, 250, 0.8);
  backdrop-filter: blur(3px) saturate(80%);
}

#geo-search {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
}

a {
  color: #333;
}

a:hover {
  color: #000;
}

.maplibregl-popup-content {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

canvas:focus {
  /* Remove unnecessary focus border */
  outline: none;
}
