.layer-switcher {
  min-height: 30px;
  min-width: 30px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"/></svg>')
    white;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

.layer-switcher-list {
  background: white;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  display: none;
  margin: 0 !important;
}

.layer-switcher-list h3 {
  margin: 0px;
  margin-top: 3px;
}

.layer-switcher-list ul {
  list-style: none;
  padding: 0;
  user-select: none;
}

.layer-switcher-list input {
  margin: 0;
  margin-right: 5px;
}
