.oim-key-control {
  min-height: 30px;
  min-width: 30px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 11-7.778 7.778 5.5 5.5 0 017.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"/></svg>') white;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.oim-key-panel {
  display: none;
  min-width: 220px;
  min-height: 300px;
  margin: 0px 0px 8px 0px !important; 
}

.oim-key-pane {
  padding-left: 8px;
  padding-right: 2px;
  overflow-y: scroll;
}

.oim-key-pane h3 {
  margin-top: 0;
  margin-bottom: 3px;
  border-bottom: 1px #eee solid;
  clear: both;
}

.oim-key-pane table {
  width: 100%;
  padding: 0px;
}
.oim-key-pane table tr {
  padding: 0px;
}


.oim-key-pane table td {
  vertical-align: center;
}

.oim-key-pane table tr td:nth-child(2) {
  width: 30px;
  text-align: center;
}


.oim-plant-sprite {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.oim-key-header {
  width: 100%;
  height: 20px;
  padding-bottom: 5px;
  padding-top: 2px;
  padding-left: 8px;
  background-color: #eee;
}

.oim-key-header h2 {
  margin: 0px;
  display: inline;
}

.oim-key-close {
  padding-right: 14px;
  float: right;
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
}
